 {% import 'macros.html' as macro %}
<div class="navbar navbar-expand-lg navbar-light" role="navigation" style="background-color: rgb(1, 82, 28); color: ghostwhite;">
    <div class="container-fluid">
        <div class="navbar-header" style="font-size: x-large;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <strong><a class="nav-link" style="font-size: xx-larger;" href="/"> Blog </a></strong>
        </div>
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav" style="font-size: x-large; font-weight: 400;">
                <a class="nav-link" href=" / ">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{url_for( 'main.upload_blog',uname=current_user.username)}} ">Upload Blog</a>&nbsp;&nbsp;&nbsp; {%endif%}
            </div>
        </div>


        <div class="nav navbar-nav navbar-right " style="font-size: x-large;">
            {% if current_user.is_authenticated %}
            <a class="nav-link" href="{{url_for( 'main.profile',uname=current_user.username)}} ">Profile</a>&nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="{{url_for( 'auth.logout')}} ">Sign out</a>&nbsp;&nbsp;&nbsp; {% else %}
            <a class="nav-link" href=" {{url_for( 'auth.login')}} ">Sign in</a>&nbsp;&nbsp;&nbsp; {%endif%}
        </div>
    </div>
</div>